<p id="notice"><%= notice %></p>

<div class="col-12">
  <div class="table-responsive">
    <table class="table">
      <tbody>
	      <tr>
	        <th>Account Number</th>
	        <td><%= @deposit.receiver.number %></td>
	      </tr>
	      <tr>
	        <th>Amount</th>
	        <td><%= @deposit.amount %></td>
	      </tr>
    	</tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', deposits_path %>
